<div class="menu">
  <ul>
    <li><a routerLink="/home">Start</a></li>
    <li><a routerLink="/offer">Oferta</a></li>
    <li>
      <a routerLink="/attractions">
        Atrakcje
      </a>
    </li>
    <!--<li><a routerLink="/about-us">O nas</a></li>-->
    <li><a routerLink="/contact">Kontakt</a></li>
    <li><a routerLink="/login">Zaloguj</a></li>
  </ul>
</div>

<!--<div class="overview-attractions">-->
<!--  <app-overview-attractions [places]="places" [attractions]="attractions"></app-overview-attractions>-->
<!--</div>-->

<!--<footer>-->
<!--  <h1>All rights reserved &copy;</h1>-->
<!--</footer>-->
