
<div class="offer-bg"></div>

<div id="cards">
  <div class="card">
    <img src="../../../../../../assets/img/notre-dame.jpg" alt="">
    <h3>Notre Dame Cathedral</h3>
    <button class="btnselect" (click)="information()">More...</button>
    <button class="btnselect">Add to buy</button>
  </div>
  <div class="card">
    <img src="../../../../../../assets/img/luwr.jpg" alt="">
    <h3>Luwr</h3>
    <button class="btnselect">More...</button>
    <button class="btnselect">Add to buy</button>
  </div>

  <div class="card">
    <img src="../../../../../../assets/img/eiffla.jpg" alt="">
    <h3>Tower Eiffla</h3>
    <button class="btnselect">More...</button>
    <button class="btnselect">Add to buy</button>
  </div>
</div>

