<header>
  <h1>Zaloguj się</h1>
</header>

<form method="post" name="form1" (ngSubmit)="login(formData)" #formData="ngForm">
  <input ngModel type="email" placeholder="e-mail" name="email" required/>
  <input ngModel type="password" placeholder="hasło" name ="password" required/>

  <button class="btn" type="submit" onClick="check()" [disabled]="formData.invalid">Zaloguj</button>
  <button class="btn" type="submit" onClick="check()" (click)="signup(formData)" [disabled]="formData.invalid">Rejestracja</button>
  <button *ngIf="hiddenButtonLoginFb" [disabled]="showButtonLoginFb" class="btn btn-primary btn-block"   (click)="signIn('Facebook');">
    <i class="fa fa-facebook" style="background-color: #385998; border-color: #385998"> </i> Zaloguj przez FB
  </button>
  <button *ngIf="hiddenButtonLogoutFb" [disabled]="showButtonLogoutFb" class="btn" (click)="signOut();">Wyloguj się</button>
</form>
<div class="menu" *ngIf="user">
  <!-- todo blokowac klawisz ZALOGUJ i uaktywnic klawisz WYLOGUJ -->
  <!-- todo pokazac zdjęcie na pasku nawigacyjnym -->
  <!-- todo wylaczyc zakladke ZALOGUJ -->
  <!-- todo obsluga klawiszy ZALOGUJ i WYLOGUJ -->
      <img src="{{ user.photoUrl }}">
</div>

